.navbar-inverse {
  color: white;
}
.maincontainer {
  margin-top: 30px;
}
.box {
  background-color: #efefef;
  border-radius: 10px;
  min-height: 200px;
  padding: 20px;
}
.smallInput {
  width: 50px !important;
  border-radius: 5px;
  padding: 5px;
}
.footer {
  margin-top: 30px;
}
hr {
  border-top: 1px solid black !important;
  margin-top: 2px;
}
ul {
  list-style-type: none;
  padding-left: 0px;
}
