<div class="row">
	<div class="col-md-8">
		<h2>Enter your details</h2>
		<input type="text" class="form-control" ng-model="buyer.name" />
		<input type="text" class="form-control" ng-model="buyer.firstname" />
		<input type="text" class="form-control" ng-model="buyer.street" />
		<input type="text" class="form-control" ng-model="buyer.zipcode" />
		<input type="text" class="form-control" ng-model="buyer.city" />
		<input type="text" class="form-control" ng-model="buyer.email" />
		<a href="#/confirm"><span class="btn btn-default">go back</span></a>
		<a href="#/overview"><span class="btn btn-success">proceed</span></a>
	</div>
</div>
