<div class="row">
	<div class="col-md-8">
		<div class="box">
			<h2>Enter your details</h2>
			<hr />
			Name:
			<input type="text" class="form-control" ng-model="buyer.name" /><br />
			Firstname:
			<input type="text" class="form-control" ng-model="buyer.firstname" /><br />
			Street:
			<input type="text" class="form-control" ng-model="buyer.street" /><br />
			Zip Code:
			<input type="text" class="form-control" ng-model="buyer.zipcode" /><br />
			City:
			<input type="text" class="form-control" ng-model="buyer.city" /><br />
			Email:
			<input type="text" class="form-control" ng-model="buyer.email" /><br />
			<br />
			<br />
			<a href="#/confirm"><span class="btn btn-default">go back</span></a>
			<a href="#/overview"><span class="btn btn-success">proceed</span></a>
		</div>
	</div>
</div>
