<div class="row">
	<div class="col-md-8">
		<div class="box">
			<h2>Available Items</h2>
			<hr />
			<p>
				Filter: <input type="text" ng-model="articleFilter" class="form-control" />
			</p>

			<ul>
				<li ng-repeat="article in articles | filter: articleFilter">
					{{ article.name }}, {{ article.price }} <a href="" ng-click="addToCart(article)">Add to Cart</a>
				</li>
			</ul>
			<br />
			<br />
			<a href="#/confirm"><span class="btn btn-success">Proceed</span></a>
		</div>
	</div>
	<div class="col-md-4" ng-controller="CartCtrl">
		<div class="box">
			<h2><span class="glyphicon glyphicon-shopping-cart" /> Cart</h2>
			<hr />
			<ul>
				<li ng-repeat="cartItem in cartItems">
					<cartitem item="cartItem" />
					<a href="" ng-click="remove(cartItem)">remove</a>
				</li>
			</ul>
			<cart items="cartItems" />
		</div>
	</div>
</div>
